body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.container{
    position: relative;
}
.ekran{
    position: absolute;
    top: 57px;
    left: 90px;
    width: 120px;
    height: 60px;
    background-color: rgb(5, 128, 14);
    border: none;
    outline: none;
    font-size: 55px;
    color: white;
    text-align: center;
    caret-color: rgb(5, 128, 14);
}
.button{
    position: absolute;
    top: 157px;
    left: 108px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(201, 200, 200);
    border: none;
}
.button:active{
    width: 84.5px;
    height: 84.5px;
}
.delete{
    position: absolute;
    top: 124px;
    left: 185px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: rgb(201, 200, 200);
    border: none;
}
.delete:active{
    width: 22.5px;
    height: 22.5px;
}